.gitignore

Documentation/~\$WorkPlan\.xlsx

*.DS_Store

*.pyc

Code/__pycache__/

Code/output_OUTOFDATE\.txt

Documentation/~\$WorkPlan\.xlsx

Code/proofOfConcept/\.DS_Store

Code/\.DS_Store

Code/output_OUTOFDATE\.txt

Code/__pycache__/

\.DS_Store

Code/proofOfConcept/__pycache__/
